*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 4vw;
    box-sizing: border-box;
    font-family: Redressed;
    font-family: Open Sans;
}
.container{
    width: 100vw;
}
img{
    width: 40%;
    height: 100%;
}
nav{
    padding: 1vh 20px;
    width: 100vw;
    background-color:rgba(46,46,46,0.3) ;
    display: flex;
    z-index: 1001;
    position: fixed;
    top: 0px;
    left: 0px;

}
.navigation-no{
    flex: 5;
    display: flex;
    
}
.title{
    flex: .8;
}
.circle{
    width: 5vw;
    height: 5vw;
    margin: 10px 0;
    color: black;
    background-color: rgb(88,88,88);
    border: 1px solid rgb(88,88,88);
    border-radius: 50%;
    padding:.5em 1em;
    font-size: 2vw;
   
}
a:link, a:active{
    color: black;
    text-decoration: none;
}

.no{
    visibility: hidden;
}
.vr{
    width: 8vw;
    height: .3vh;
    margin: .8em 0;
    background-color:rgb(88,88,88);
}
.personal-details-text{
    width: 90vw;
    margin: 15vh 5vw 0;
    font-size: 10vw;
}
.sub-text{
    font-size: 5vw;
}
.text{
    display: none;
}
input, textarea{
    background-color: rgb(249,250,251);
    border: 1px solid rgb(205,205,205);
    /* color: rgb(192,197,209); */
    color: black;
    padding: .8em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: no-wrap;
}
.personal-details{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    color: black;
}
.names > label, .skills{
    margin: 1vh 1vw;
    font-size: 4vw;
    position: relative;
}
.names input , .skills input{
    width: 43vw;
    height: 2.5em;
}
.contact, .professional-skills{
    padding: 0 5vw;
    color: black;
} 
.skills{
    padding: 0 1vw;
}
.skills input{
    width: 30vw;
    margin: .3em 0;
}
.range > input{
    width: 12vw;
}
.contact-details{
    display: flex;
    flex-flow: row wrap;
}
.contact span{
    margin: 10px;
    font-size: 7vw;
    padding: 0 5vw;
}
.contact textarea{
    margin: 1vh 0 10vh;
    width: calc(100%);
    height: 5em;
}
.more-info{
    margin: 10vh 0 5vh;
}
.contact-details > label{
    margin: 1vh 1vw;
    font-size: 4vw;
}
.contact-details input{
    width: 43vw;
    height: 2.5em;
} 
.names{
   display: flex;
   flex-flow: row wrap;
   padding: 0 5vw;
}
.education-info{
    color: black;
    padding: 0 5vw;
    margin: 0 2vw;
  
}
.school, .professional-sect{
    display: flex;
    flex-flow: row wrap;
}
.school > span{
    font-size: 5vw;
}
.school > label{
    margin: 1vh 1vw;
    font-size: 5vw;
}
.institution{
    width: 100%;
}
.school input[type= 'text']{
    width: 100%;
    height: 2.5em;
}
input[type= 'date']{
    width: 41vw;
    height: 2.5em;
}
.sect-text{
    width: 90vw;
    /* margin: 10vh 5vw 5vh; */
    margin: 5vh auto 2vh;
    font-size: 7vw;
    font-weight: 600;
}
.asterik{
    color: rgba(248, 2, 2, 0.5);
    font-size: 2.5vw;
    position: absolute;
    top: 0;
    right: 20;
    /* margin: -2vh 0 0 0; */
}
input:focus, textarea:focus{
    outline: 1px solid #F6B618 ;
    
}
.create-div{
    display: flex;
    justify-content: center;
    padding: 0 8vw;
}
.create{
    width: 100%;
    height: 3em;
    margin: 2em auto;
    background-color: #F6B618;
    border: 1px solid #F6B618;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 1px;
    font-weight: 900;
    font-size: 5vw;
    
}
@media all and (min-width: 768px) and (max-width: 1199px){
    .names input, textarea{
        width: 43vw;
        height: 3.5em;
        font-size: 3vw;
    }

    .school input[type= 'text'], input[type= 'date'],.skills input {
        height: 3.5em;
        font-size: 3vw;
    }
}
@media all and (min-width: 1200px){
    body{
        font-size: 2vw;
    }

    main{
        width: 100%;
       background-color: #fff;
       /* position: relative; */
    }
    main > nav{
        display: flex;
        flex-flow:column wrap;
        width: 30vw;
        height: 100vh;
        font-size: 1.5vw;
        background-color:rgba(46,46,46,1) ;
        z-index: 1;
    }
    main > div{
       /* flex: 0.5; */
       width: 70vw;
       display: block;
       margin: 0 0 0 30vw;
       overflow-x: hidden;
    }
    .content{
        background-color: white;
        padding: 5vh 5vw;
        
    }.title{
        padding: 0 5vw;
        font-size: 3vw;
    }
    .personal-details{
        background-color: white;
        color: black;
    }
    .personal-details-text {
        width: 90vw;
        margin: 0 0;
        font-size: 8vw;
    }
    .sect-text{
        font-size: 4vw;
    }
    .navigation-no{
        flex: 0.8;
        display: flex;
        flex-flow: column wrap;
        margin: 25vh 5vw 10vh;
    }
    .title{
        flex: 0.2;
    }
    .circle{
        width: 2vw;
        height: 2vw;
        margin: 10px 0;
        background-color: rgb(88,88,88);
        border: 1px solid rgb(88,88,88);
        border-radius: 50%;
        padding:.1em .5em;
        font-size: 2vw;
    }
    .vr{
        z-index: -1;
        width: .1vw;
        height: 8vh;
        margin: 0 1.5vw ;
        background-color:rgb(88,88,88);
    }
    .sub-text{
        font-size: 2.5vw;
    }
    .text{
        display: block;
        height: 2vh;
        margin: -1.5em 10px 0 4em;
        font-size: 1.5vw;
    }
    .names, .contact{
        padding: 0;
        margin: 1em 0;
    }
    .names input, .contact input,.school input, .skills input, textarea{
    background-color: rgb(249,250,251);
    border: 1px solid rgb(205,205,205);
    color: black;
    width: 25vw;
    height: 2.5em;
    font-size: 2.5vw;
    padding: .8em;
    margin: .5em 1em .5em 0;
    }
    .skills{
        font-size: 2.5vw;
        margin: 0;
        padding: 0;
    }
    .skills input{
        width: 20vw;
    }
    .professional-skills{
        padding: 0;
    }
    .school input[type='text']{
        width: 55vw;
    }
    input[type='date']{
        width: 25vw;
    }
    .names > label, .school > label{
        text-transform: uppercase;
        font-size: 2vw;
        font-weight: 800;
    }
    
     .contact span, .school > span{
         font-size: 3vw;
         /* padding: 0; */
     }
     .education-info{
        padding: 0;
        margin: 0;
     }
     .asterik{
        font-size: 1.5vw;
        top: 0;
        right: 20;
        /* margin: -2vh 0 0 0; */
    }
    .create-div{
       
        padding: 0 4.5vw 0 1vw;
        
    }
    .create{
        font-size: 3vw;
        height: 2em;
    }
}