*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: relative;
    position: absolute;
    top: 0px;
    left: 0px;
    
}
.container{
    zoom: 20%;
    transform: scaleX(1);
    width: 100vw;
    max-width: 1300px;
    min-width: 1200px;
    /* background-color:red; */
    position: absolute;
    top: 50px;
    left: 20vw;
}
main{
    /* margin: 5em 5em; */
    width: calc(100% - 100vw);
    background-color: blue;
    display: flex;
    align-items: flex-start;
    background-color: white;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.5);
}
img{
    width: calc( 100%);
}
.L-content{
    flex: 1;
    color: white;
    background-color: #212226;
    height: 100%;
}
.R-content{
    flex: 1.5;
    background-color: white;
    color: black;
    height: 100%;
}
h1{
    margin: .5em 0;
    font-weight: 900;
    font-size: 2em;
}
h2{
    font-weight: 400;
    font-size: 1.2em;
    margin: .5em 0px;
}

